{#
/**
 * @file
 * Theme override for a system settings form.
 *
 * This template will be used when a system config form specifies 'config_form'
 * as its #theme callback.  Otherwise, by default, system config forms will be
 * themed by form.html.twig. This does not alter the appearance of a form at
 * all, but is provided as a convenience for themers.
 *
 * Available variables:
 * - form: The confirm form.
 */
#}
{{ form }}
<div class="aesirx_analytics_info">
  <div class="wrap">{{ 'Sign up for a'|t }}:
    <h3>FREE License</h3>
  </div>

  <p>* {{ 'at the AesirX Shield of Privacy dApp'|t }}</p>
  <a target="_blank"
     href="https://dapp.shield.aesirx.io?utm_source=wpplugin&utm_medium=web&utm_campaign=wordpress&utm_id=aesirx&utm_term=wordpress&utm_content=analytics">{{ 'Get Free License'|t }}</a>
</div>
